@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  position: sticky;
  z-index: 1;
  top: 0rem;
}

.nav {
  padding-left: 4%;
  background: #81cefe;
  height: 10vh;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_button {
  font-size: 4rem;
  height: inherit;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.nav_button::before {
  content: "≡";
}

.nav_menu {
  position: fixed;
  width: 40vw;
  height: 100vh;
  background: rgba(11, 11, 11, 0.9);
  left: -40vW;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: left 400ms;
  /*etat initial */
}

.nav_menu li a:hover {
  color: #81cefe;
}

.nav_menu a {
  color: #FFF;
  font-size: 1.5rem;
}

.nav_input {
  display: none;
}

.nav_input:checked ~ .nav_menu {
  /* etat final*/
  left: 0;
}

.nav_input:checked ~ .nav_button::before {
  content: "✗";
  font-size: vw;
  transition: 1s;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section_timeline {
  --color: rgba(30, 30, 30);
  --bgColor: rgba(245, 245, 245);
  min-height: 40vh;
  display: grid;
  align-content: center;
  gap: 2rem;
  padding: 2rem;
  font-family: "Poppins", sans-serif;
  color: var(--color);
  background: var(--bgColor);
}
@media (prefers-color-scheme: dark) {
  .section_timeline {
    --color: #ffffff;
    --bgColor: #18181A;
  }
}

.timeline {
  --col-gap: 2rem;
  --row-gap: 2rem;
  --line-w: 0.25rem;
  display: grid;
  grid-template-columns: var(--line-w) 1fr;
  grid-auto-columns: max-content;
  -moz-column-gap: var(--col-gap);
       column-gap: var(--col-gap);
  list-style: none;
  width: min(90rem, 90%);
  margin-inline: auto;
}

/* line */
.timeline::before {
  content: "";
  grid-column: 1;
  grid-row: 1/span 20;
  background: rgb(225, 225, 225);
  border-radius: calc(var(--line-w) / 2);
}

/* columns*/
/* row gaps */
.timeline li:not(:last-child) {
  margin-bottom: var(--row-gap);
}

/* card */
.timeline li {
  grid-column: 2;
  --inlineP: 1.5rem;
  margin-inline: var(--inlineP);
  grid-row: span 2;
  display: grid;
  grid-template-rows: min-content min-content min-content;
}

/* date */
.timeline li .date {
  --dateH: 3rem;
  height: var(--dateH);
  margin-inline: calc(var(--inlineP) * -1);
  text-align: center;
  background-color: var(--accent-color);
  color: white;
  font-size: 1.25rem;
  font-weight: 700;
  display: grid;
  place-content: center;
  position: relative;
  border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
}

/* date flap */
.timeline li .date::before {
  content: "";
  width: var(--inlineP);
  aspect-ratio: 1;
  background: var(--accent-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
  position: absolute;
  top: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 0 100%);
          clip-path: polygon(0 0, 100% 0, 0 100%);
  right: 0;
}

/* circle */
.timeline li .date::after {
  content: "";
  position: absolute;
  width: 2rem;
  aspect-ratio: 1;
  background: var(--bgColor);
  border: 0.3rem solid var(--accent-color);
  border-radius: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  right: calc(100% + var(--col-gap) + var(--line-w) / 2);
}

/* title descr */
.timeline li .title,
.timeline li .descr {
  background: var(--bgColor);
  position: relative;
  padding-inline: 1.5rem;
}

.timeline li .title {
  overflow: hidden;
  padding-block-start: 1.5rem;
  padding-block-end: 1rem;
  font-weight: 500;
}

.timeline li .descr {
  padding-block-end: 1.5rem;
  font-weight: 300;
}

/* shadows */
.timeline li .title::before,
.timeline li .descr::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  left: 50%;
  border-radius: 50%;
  filter: blur(4px);
  transform: translate(-50%, 50%);
}

.timeline li .title::before {
  bottom: calc(100% + 0.125rem);
}

.timeline li .descr::before {
  z-index: -1;
  bottom: 0.25rem;
}

*, *::before, *:after {
  box-sizing: border-box;
}

html {
  background-color: #ffffff;
  color: #000;
  font-family: "Open sans", sans-serif;
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: #000;
}

footer {
  font-size: 1.5rem;
  position: sticky;
  bottom: 0rem;
  display: flex;
  background-color: #0e94ee;
  justify-content: space-between;
}

footer p {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0.5rem 1rem;
}

iframe {
  width: 90%;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: #000 solid;
  padding: 2rem;
}

form {
  margin: 0 2.5vw 1rem 2.5vw;
}

.bouton {
  background-color: #0e94ee;
  color: #FFF;
  border: #0e94ee;
  width: 20vw;
  height: 4vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#form_contact section {
  display: grid;
  margin: 0.5rem 0;
}

input {
  width: 50%;
}

textarea {
  width: 100%;
  height: 10vh;
}

label {
  margin-bottom: 0.5rem;
}

.crédit {
  display: flex;
  margin: 2rem;
  border-top: 2px solid #00388b;
}

.actif a {
  color: #0e94ee;
}

.cv {
  text-align: center;
}

.cv a {
  display: block;
  margin: auto;
  width: 30vw;
}

.pc {
  display: none;
}

.caché {
  display: none;
  margin: 0;
  padding: 0;
}

video {
  height: 100%;
  width: 100%;
}

.lien_visible {
  color: #00388b;
  -webkit-text-decoration: underline #00388b;
          text-decoration: underline #00388b;
}

.about_me {
  text-align: center;
}

p {
  text-align: left;
}

.voir_plus {
  text-align: center;
}

.voir_plus a {
  background-color: #0e94ee;
  border-radius: 10px;
  padding: 0 2% 0 2%;
}

.voir_plus:hover {
  transform: scale(1.1);
}

#contactForm div {
  margin-top: 1rem;
}

.nav_title {
  text-align: center;
  font-size: 3rem;
  margin: 1rem;
}

article {
  font-size: 2rem;
}

h2 {
  border-bottom: 2px solid #00388b;
  margin: 3rem 1rem 2rem 1rem;
  font-size: 2rem;
  color: #81cefe;
  font-weight: bold;
}

h3 {
  margin: 1rem;
}

p {
  margin: 1rem;
}

/*ici pour les H3 il faut rajouter .about_me */
article h3 {
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 3rem;
  padding: 1rem;
}

#portrait {
  width: 25vw;
  margin: 2rem 1rem 1rem 1rem;
  border: 2px solid #000;
}

.logo_but {
  border-radius: 50%;
  width: 50vw;
  display: block;
  margin: auto;
}

.logo_accueil {
  border: 2px solid #000;
  width: 50vw;
  display: block;
  margin: auto;
}

.contacts {
  display: flex;
  justify-content: space-between;
  margin-left: 5vw;
  margin-right: 5vw;
}

.contacts img {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 20vw;
  border-radius: 20%;
}

.cv img {
  border-radius: 10%;
  width: 30vw;
}

.medias {
  height: 100%;
  width: 80%;
  display: block;
  margin: auto;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #18181A;
    color: #ffffff;
  }
  a {
    color: #ffffff;
  }
  input, textarea {
    background-color: #42414D;
    color: #ffffff;
  }
}
@media screen and (min-width: 800px) { /* Si l'affichage est effectué sur un écran de taille supérieure à 400pixels */
  .pc {
    display: block;
  }
  .phone {
    display: none;
  }
  .nav_button {
    display: none;
  }
  .nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    top: 0rem;
    width: 100%;
    background: #81cefe;
  }
  .nav_menu {
    display: block;
    grid-column: 1;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: transparent;
    left: 0;
    width: 100vw;
    height: 10vh;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    /*etat initial */
  }
  .nav_title {
    padding: 0;
    margin: 0;
    grid-column: 3;
    font-size: 4rem;
  }
  #titre_trop_grand {
    font-size: 3.5rem;
  }
  .nav_menu li {
    margin-right: 1.5vw;
  }
  .nav_menu li a {
    font-size: min(2vw, 2.5rem);
  }
  #contenue_page_projet {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .colone_page_projet {
    display: grid;
    grid-template-rows: 20rem 1fr;
  }
  .grid_2eme_l {
    display: block;
    width: 80%;
    margin: auto;
    grid-row: 2;
  }
  #contenue_page_index {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
  }
  #index_but {
    grid-column: 1/4;
  }
  #index_parcour {
    grid-column: 4/7;
  }
  #index_passion {
    grid-column: 7/10;
  }
  #photo_portrait {
    grid-column: 10/12;
    width: 80%;
    margin: auto;
  }
  .logo_accueil {
    width: 10vw;
  }
  #contenue_page_f-exp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  #col_form {
    grid-row: 1/10;
  }
  #case_exp {
    grid-row: 1;
    grid-column: 2;
  }
  #cv {
    grid-row: 2/7;
    grid-column: 2;
  }
  #cv a img {
    width: 10vw;
    display: block;
    margin: auto;
  }
  h2 {
    border-bottom: 2px solid #00388b;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 2rem;
    color: #81cefe;
    font-weight: bold;
  }
  .nav_menu li a:hover {
    color: #3022c8;
  }
  #contenue_page_contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  #liste_reseau {
    grid-column: 1;
    grid-row: 1;
  }
  #gg_map {
    grid-column: 2;
    grid-row: 1/3;
  }
  #gg_map iframe {
    height: 95%;
  }
  #form_contact {
    grid-column: 1;
    grid-row: 2;
  }
  .contacts img {
    margin-top: 4rem;
    width: 10vw;
  }
  .contacts img:hover {
    transform: scale(1.1);
  }
  #contenue_page_passions {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
  #JV {
    grid-column: 1;
    grid-row: 1/3;
  }
  #serveur {
    grid-column: 2;
    grid-row: 2;
  }
  footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
  }
  #aglorea {
    height: 10vh;
  }
}/*# sourceMappingURL=main.css.map */