.photo_portrait{
    width: 25vw;
    margin: 2rem 1rem 1rem 1rem;
    border: 2px solid #000 ;
}

.logo_but{
    border-radius: 50%;
    width: 50vw;
    display: block;
    margin: auto;
}

.logo_accueil{
    
    border: 2px solid #000 ;
    width: 50vw;
    display: block;
    margin: auto;
}

.contacts{
    display: flex;
    justify-content: space-between;
    margin-left: 5vw;
    margin-right: 5vw;
}
.contacts img{
    margin-left:1rem;
    margin-right: 1rem;
    width: 20vw;
    border-radius: 30%;
}

.cv img{
    border-radius: 10%;
    width: 20vw;
}