@media (prefers-color-scheme: dark)
{

    html{
        background-color: $gris_fond;
        color : #ffffff;
    }
    
    a{
        color:#ffffff;
    }
    input,textarea{
        background-color: #42414D;
        color: #ffffff;
     }
     
}

@media screen and (min-width : 800px)
{ /* Si l'affichage est effectué sur un écran de taille supérieure à 400pixels */
.pc {
    display: block;
}
.phone {
    display: none;
}
.nav_button{
    display: none;
}
.nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    top: 0rem;
    width: 100%;
    background: $light_bleu;
}
.nav_menu {
    display: block;
    grid-column: 1;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: transparent;
    left: 0;
    width: 100vw;
    height: 10vh;
    z-index: 1;
    display: flex;
    flex-direction:row;
    justify-content: left;
    align-items: center;
    /*etat initial */
}
.nav_title{
    padding: 0;
    margin: 0;
    grid-column: 3;
    font-size: 4rem;
}
#titre_trop_grand{
    font-size: 3.5rem;
}
.nav_menu li{
    margin-right:  1.5vw;
}
.nav_menu li a{
    font-size:  min(2vw,2.5rem);
}
#contenue_page_projet{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.colone_page_projet{
    display: grid;
    grid-template-rows: 20rem 1fr;
}
.grid_2eme_l{
    display: block;
    width: 80%;
    margin: auto;
    grid-row: 2;
}
#contenue_page_index{
    display: grid;
    grid-template-columns: repeat(11, 1fr);
}
#index_but{
    grid-column: 1 / 4;
}

#index_parcour{
    grid-column: 4 / 7;
}

#index_passion{
    grid-column: 7 / 10;
}


#photo_portrait{
    grid-column: 10/12;
    width: 80%;
    margin: auto;
}


.logo_accueil{
    width: 10vw;
}

#contenue_page_f-exp{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
#col_form{
    grid-row: 1 / 10;
}
#case_exp{
    grid-row: 1;
    grid-column: 2;
}
#cv{
    grid-row: 2/7;
    grid-column: 2;
}
#cv a img{
    width: 10vw;
    display: block;
    margin: auto;
}
h2{
    border-bottom : 2px solid #00388b ;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 2rem;
    color: $light_bleu ;
    font-weight: bold;
}
.nav_menu li a:hover{
    color: #3022c8;
}

#contenue_page_contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:repeat(2,1fr) ;
}
#liste_reseau{
    grid-column: 1;
    grid-row: 1;
}
#gg_map{
    grid-column: 2;
    grid-row: 1/3;
}
#gg_map iframe{
    
    height: 95%;
}
#form_contact{
    grid-column: 1;
    grid-row: 2;
}
.contacts img{
    margin-top: 4rem;
    width: 10vw;
}
.contacts img:hover{
  transform: scale(1.1);
}
#contenue_page_passions{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
}
#JV{
    grid-column: 1;
    grid-row: 1/3;
}

#serveur{
    grid-column: 2;
    grid-row: 2;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
}
#aglorea{
    height: 10vh;
}
}