.nav_title{
    text-align: center;
    font-size: 3rem;
    margin:1rem;
}
article{
   font-size: 2rem;
}
h2{
    border-bottom : 2px solid #00388b ;
    margin: 1rem;
    font-size: 2rem;
    color: $light_bleu ;
    font-weight: bold;
}
h3{
    margin: 1rem;
}
p{
    margin: 1rem;
}

.about_me article h3{
    text-align: center;
}
h1{
    font-weight:bold;
    font-size: 3rem;
    padding: 1rem;
}